$anticomyellow : #ffc806;

@mixin genericNone{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

@mixin parallaxOuter($backgroundImage, $height) {
	height: $height;
	color: #ffc800;
	//if no pic found:
	background-color: black;
	background: url($backgroundImage)repeat fixed 50%;
	padding-top: 50px;
	padding-bottom: 50px;
		 }

@mixin parallaxInner {
	width: 80%;
	margin-top: 20%;
}

@mixin navBottomBorder($color){
	border-bottom: solid $color 2px;

}

body{
	background-color: #000000;
	@include genericNone;
}


.navcontainer {
	@include genericNone;
	height: 75px;
	.logo{
		@include navBottomBorder($anticomyellow);
		width: 40%;
		height: 100%;
		padding-top: .5%;
		padding-left: 14%;
		float: left;
	}
	.logo:hover{
		@include navBottomBorder(#000);
	}
	nav {
		height: inherit;
		width: 100%;
		position:fixed;
		background-color:  #141519;
		color: $anticomyellow;
		ul {
			height: inherit;
			width: 60%;
			float: right;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				@include navBottomBorder($anticomyellow);
				position: relative;
				display:inline-block;
				height: inherit;
				float: right;
				width:33.3333%;
				background-color: #141519;
				text-align:center;
				padding-top:2.5%;
			}
			li:hover{
				@include navBottomBorder(#000);
			}
		}
	}
}

.hero	{
	background-color: black;
	@include parallaxOuter("anticomlogo.png",650px);

	.inner-hero{
		position: static;
		padding-top: 15%;
		padding-left: 15%;
	}
}


@mixin goalComponent($left,$right){
	margin-top: 3%;
	margin-right: $right;
	margin-left: $left;
	width: 30%;
	height: 90%;
	display: inline-block;
	text-align: center;
	line-height: 200%;
}

.goal-container{
	@include genericNone;
	height:600px;
	width:100%;
	color: black;

	.left-container{
		@include goalComponent(2.7%,0.5%);
	}
	.middle-container{
		@include goalComponent(1.5%,1.5%);
	}
	.right-container{
		@include goalComponent(0.5%,2.7%);
	}
}

.goal-image{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 5%;
}

.mission-container{
	@include genericNone;
	height:80vh;
	background-color: $anticomyellow;

	.upper-mission{
		@include genericNone;
		height: 20%;
	}
	.lower-mission{
		height:70%;
		width: 96%;
		padding-top: 5%;
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 5%;
	}
}